
/*--------------------------------------------------------------------Loading Image Animation*/
body{
    background-color: black !important;
}

.loader-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    z-index: 2500;
}
.loader {
    width: 500px;
    height: 250px;
    position: fixed;
    right: 40%;
    bottom:45%;
    z-index: 3000;
    background-color: black;
}

.hide, .loader.hide, .movie-container.hide {
    display: none;

}

.show, .loader.show, .movie-container.show {
    display: flex;
}

.circle {
    fill: #F25A33;
}

.circle-one {
    opacity: 0;
}

.svg-stroke {
    fill: transparent;
    stroke-dasharray: 46.82, 93.64;
    stroke-dashoffset: 46.82;
    stroke: #F25A33;
    opacity: 1;
}

.svg-wrap .svg-stroke {
    animation: stroke-start 1.6s linear, stroke-end 1.6s 0.8s linear infinite;
}

.svg-wrap .circle-one {
    animation: dot-one 0s 0.8s, move-dot 1.6s 0.8s linear infinite;
}

.svg-wrap .circle-two,
.svg-wrap .circle-three {
    animation: move-dot 1.6s 0.8s linear infinite;
}

@keyframes dot-one {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes stroke-start {
    50% {
        stroke-dashoffset: 46.82;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes stroke-end {
    50% {
        stroke-dasharray: 46.82, 93.64;
        stroke-dashoffset: 0;
        transform: translateX(0);
    }

    100% {
        stroke-dasharray: 0, 93.64;
        stroke-dashoffset: -46.82;
        transform: translateX(10px);
    }
}

@keyframes move-dot {
    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

/*-------------------------------------------------------------------- Card Images*/
.movie-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {

}

.card-img-top, .card {
    width: 15%;
    height: 100%;

}



